---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <h1>Sobre mi</h1>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit eveniet
      sed, excepturi nulla accusamus suscipit fugit quia voluptatibus, placeat,
      rem velit explicabo quod inventore magni facilis laborum exercitationem
      dolorum ad.
    </p>
  </section>
</Layout>
